*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: 
        linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)),
        url('Taj_Mahal.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
nav{
    height: 15vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

}
.logo{
    font-size: larger;
    color: white;
}
a{
    text-decoration: none;
    color: WHITE;
    padding: 30px;

}

nav .menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
  gap: 40;
}
section{
    height: 85vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
}
h5{
    font-size: 30px;
}
section h1{
    font-size: 58px;
}
p{
    font-size: 30px;
}
.sign{
     background-color: rgb(25, 234, 164);  
      
}
.sign:hover{
  color: rgb(192, 236, 221);
  background-color: red
  ;
  
    
}
button{
    font-size: 15px;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    border: none;
    font-size: 10px; 
}
.content:after{
    content:'';
    animation: change 10s infinite linear;
    color: aqua;
}
@keyframes change{
    0% { content:"Darjeeling"  }
    20% { content:"Agra"  }
    35%{ content:"Jaipur"  }
    60%{ content:"Kerala"  }
    85%{ content:"Delhi"  }
    100%{ content:"Mumbai"  }
}